<html>
<head>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
    <p>BONJOUR</p>
    <h1 style="font-size:5rem"> Hello Motherfucker</h1>
    <a href="{{ path('test') }}">GO</a>
</body>
</html>